<footer id="footer" class="footer">
<div class="copyright">
    | &copy; Copyright <strong><span>#ttcg</span></strong>
</div>
<div class="credits">
    | Designed by <a href="https://taitataveta.go.ke/">Directorate of ICT</a>
</div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>