.card
  .filter
    a.icon(href="#", data-bs-toggle="dropdown")
      i.bi.bi-three-dots
    ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
      li.dropdown-header.text-start
        h6 Filter
      li
        a.dropdown-item(href="#") Today
      li
        a.dropdown-item(href="#") This Month
      li
        a.dropdown-item(href="#") This Year
  .card-body
    h5.card-title
      | Recently Assigned 
      span | Today
    .activity
      .activity-item.d-flex
        .activite-label 32 min
        i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
        .activity-content
          | Quia quae rerum 
          a.fw-bold.text-dark(href="#") explicabo officiis
          |  beatae

      //  End activity item
      .activity-item.d-flex
        .activite-label 56 min
        i.bi.bi-circle-fill.activity-badge.text-danger.align-self-start
        .activity-content.
          
          Voluptatem blanditiis blanditiis eveniet
          
      //  End activity item
      .activity-item.d-flex
        .activite-label 2 hrs
        i.bi.bi-circle-fill.activity-badge.text-primary.align-self-start
        .activity-content.
          
          Voluptates corrupti molestias voluptatem
          
      //  End activity item
      .activity-item.d-flex
        .activite-label 1 day
        i.bi.bi-circle-fill.activity-badge.text-info.align-self-start
        .activity-content
          | Tempore autem saepe 
          a.fw-bold.text-dark(href="#") occaecati voluptatem
          |  tempore

      //  End activity item
      .activity-item.d-flex
        .activite-label 2 days
        i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
        .activity-content.
          
          Est sit eum reiciendis exercitationem
          
      //  End activity item
      .activity-item.d-flex
        .activite-label 4 weeks
        i.bi.bi-circle-fill.activity-badge.text-muted.align-self-start
        .activity-content.
          
          Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
          
      //  End activity item