extends sub-layout 
block content 
    main#main.main
        .pagetitle
            h1 General Tables
            nav
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="index.html") Home
                    li.breadcrumb-item Tables
                    li.breadcrumb-item.active General
        section.section
            .row
                .col-lg-6
                    .card
                        .card-body
                            h5.card-title Default Table
                            p
                                <span class="badge text-bg-primary">Primary</span>
                            p This is a short Description about the project
                            p 11 Tasks 
                            p Team members include
                            //  Default Table 
                            
                            //  End Default Table Example 
                .col-lg-6
                    .card
                        .card-body
                            h5.card-title Table with stripped rows
                            //  Table with stripped rows 
                            