extends layout

block header 
    include includes/nav

block sidebar 
    include includes/sidebar

block content

  //- block sidebar

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>#{bd}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Active Task Card -->
            <div class="col-xxl-4 col-md-6 col-lg-4">
              <div class="card info-card sales-card">
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Active tasks <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-radioactive"></i>
                    </div>
                    <div class="ps-3">
                      <h6>14</h6>
                      //- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- completed Card -->
            <div class="col-md-4 col-lg-4">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Completed Tasks</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-check-all"></i>
                    </div>
                    <div class="ps-3">
                      <h6>20</h6>
                      //- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Completed Card -->

            <!-- Total Tasks Card -->
            <div class="col-xxl-4 col-lg-4">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Total Tasks <span>| This Year</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="ps-3">
                      <h6>#{rows.length}</h6>
                      //- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- End Customers Card -->



            <!-- Recent Tasks -->
            include includes/recent_task_table
            <!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent assigned tasks -->
          //- include includes/recently_assigned
          <!-- End Recent Activity -->

          statistics
          include includes/statistics
          //- end statisctics

        </div><!-- End Right side columns -->
      </div>
    </section>

  </main>
  script.
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    Toast.#{toast}({
      icon: 'success',
      title: 'Signed in successfully'
    })