extends sub-layout
block content

    main#main.main
        .pagetitle
            h1 Task
            nav
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="/dashboard") Home
                    li.breadcrumb-item Users
                    li.breadcrumb-item.active View Task
        section.section.profile
            .row
                .col-xl-4
                    .card
                        .card-body.profile-card.pt-4.d-flex.flex-column.align-items-center
                            img.rounded-circle(src="/assets/img/profile-img.jpg" alt="Profile")
                            h2 #{user.first_name} #{user.last_name}
                            h3 #{user.role.role_name}
                            .social-links.mt-2
                                a.twitter(href="#")
                                    i.bi.bi-twitter
                                a.facebook(href="#")
                                    i.bi.bi-facebook
                                a.instagram(href="#")
                                    i.bi.bi-instagram
                                a.linkedin(href="#")
                                    i.bi.bi-linkedin
                .col-xl-8
                    .card
                        .card-body.pt-3